<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login do site Coin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Coin</h1>
    </div>

    <div class="col-8 m-auto pt-3 pb-2 text-center">
        <label for="Input"> Nome: </label>
        <input> </input>
    </div>

    <div class="col-8 m-auto pt-3 pb-2 text-center">
        <label for="Input"> Senha: </label>
        <input> </input>
    </div>



    <div class="col-8 m-auto pt-1 pb-2 text-center">
        <a href="/form" class="btn btn-success">Login</a>
        <a href="/cadastro" class="btn btn-success">Cadastrar</a>
    </div>

</body>
</html>